<div class="container">
	<div class="row">
		<div class="col-8">
			<canvas class="myCanvas"></canvas>
		</div>
		<div class="col-3">
			<div class="GameInfo" value="<%= @game.id %>" >
			  <p> Game status : <div id="game_status"><%= @game.status %></div> </p>
			  <p> Spec count : <div id="spec_count">0</div></p>
			</div>
			<%= render 'show_rules' %>
		</div>
	</div>
</div>