<div class="mb-3">
  <%= link_to new_chatroom_path, class: "btn btn-primary" do %>
    Create a chatroom
  <% end %>
</div>

<% if @chatrooms.present? %>
  <nav class="nav flex-column">
    <% @chatrooms.each do |room| %>
      <%= link_to room.name, chatroom_path(room), class: "nav-link room-nav-link" %>
    <% end %>
  </nav>
<% else %>
  <div class="text-muted">
    The are no chatrooms
  </div>
<% end %>