<script type="text/template" id="template-channel-list">
	<a href="/#channel/create">
		create a channel
	</a> <br />
  	<div class="dropdown-divider"></div>
	<div class="list-group">
		<%% _.each(channels, function(channel) { %>
			<a href="/#channel/<%%- channel.id %>" class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1"><%%- channel.name %></h5>
					<small><%%- channel.visibility %></small>
				</div>
				<small>owner by <%%- channel.owner.username %></small>
			</a>
		<%% }); %>
	</div>
</script>

<script type="text/template" id="template-channel-create">
	<form>
		<div class="form-group">
			<label for="name-input">Name</label>
			<input class="form-control" id="name-input" value="<%%- name %>">
			<div class="invalid-feedback">
				Please choose a username.
			</div>
		</div>
		<div class="form-group">
			<label for="visibility-input">Visibility</label>
			<select class="form-control" id="visibility-select">
				<option value="public" <%%- visibility == "public" ? 'selected' : '' %>>Public</option>
				<option value="protected" <%%- visibility == "protected" ? 'selected' : '' %>>Protected <small>(require a password)</small></option>
				<option value="private" <%%- visibility == "private" ? 'selected' : '' %>>Private</option>
			</select>
			<div class="invalid-feedback">
				Please choose a username.
			</div>
		</div>
		<div class="form-group" style="display: none" id="password-form-group">
			<label for="password-input">Password</label>
			<input type="password" class="form-control" id="password-input">
			<div class="invalid-feedback">
				Please choose a username.
			</div>
		</div>
	</form>
	<div class="text-center">
		<button type="button" class="btn btn-primary" id="submit-button">Submit</button>
	</div>
</script>

<script type="text/template" id="template-channel">
	<%% if (state.loading) { %>
		<div class="text-center">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	<%% } else if (state.error) { %>
		<div class="alert alert-danger" role="alert">
			<%% if (state.error.status == 403) { %>
				forbidden: <%%- state.error.responseJSON.message %>
			<%% } else if (state.error.status == 404) { %>
				not found
			<%% } else if (state.error.status == 0) { %>
				error
			<%% } else { %>
				error: <%%- state.error.responseJSON.message %> 
			<%% } %>
			<small>
				<a id="error-refresh" href="javascript:void(0)" class="alert-link">(click here to refresh)</a>
			</small>
		</div>
		
		<%% if (state.error?.responseJSON?.message === "password protected") { %>
			<div class="input-group mb-3">
				<input id="password-input" type="password" class="form-control" placeholder="password">
				<div class="input-group-append">
					<button id="submit-password-button" class="btn btn-primary">submit</button>
				</div>
			</div>
		<%% } %>
	<%% } else { %>
		<%% if (!state.connected) { %>
			<div class="alert alert-warning" role="alert">
				not connected, connecting...
			</div>
		<%% }%>
		<h3>
			<%%- channel.name %>
			<small class="text-muted"><%%- channel.visibility %></small>
		</h3>
  		<div class="dropdown-divider"></div>
		  <%#% if (user_signed_in && current_user.id == channel.owner.id) { %>
		  	<a href="#channel/<%%- channel.id %>/edit">edit</a>
		  <%#% } %>
  		<div class="dropdown-divider"></div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-10">
					<div id="message-container" style="height: 300px; overflow-y: scroll">
						<%% _.each(messages, function(message) { %>
							<%%- message.user.username %>: <%%- message.content %> <br>
						<%% }); %>
					</div>

					<div class="dropdown-divider"></div>
					<div class="input-group">
						<input id="message-input" type="text" class="form-control" placeholder="hello world">
						<div class="input-group-append">
							<button id="send-button" class="btn btn-primary">
								<i class="mdi mdi-send" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-0 col-lg-2">
					<%% _.each(channel.members, function(member) { %>
						<p>
							<%%- member.user.username %>
							<%% if (member.user.id == channel.owner.id) { %>
								<i class="mdi mdi-crown" aria-hidden="true"></i>
							<%% } %>
							<%% if (member.admin) { %>
								<i class="mdi mdi-account-supervisor" aria-hidden="true"></i>
							<%% } %>
							<%% if (member.muted) { %>
								<i class="mdi mdi-volume-mute" aria-hidden="true"></i>
							<%% } %>
						</p>
					<%% }); %>
				</div>
			</div>
		</div>
	<%% } %>
</script>