<script type="text/template" id="template-game">
	<a href="/#game">
		create a game
	</a><br />
  </script>
	<div class="col-8">
		<canvas id="myCanvas"></canvas>
		<style type="text/css">
		canvas {
			border: 1px solid black;
		}
		</style>
	</div>
</script>