<%= stylesheet_link_tag "auth" %>

<main class="form-signin text-center">
	<h1 class="h3 mb-3">ft_transcendence</h1>
	<%= link_to user_marvin_omniauth_authorize_path, method: :post do %>
		<button class="w-100 btn btn-lg btn-primary">Sign in with 42</button>
	<% end %>
	<p class="mt-5 mb-3 text-muted">&copy; 2021</p>
</main>